<tr class='upd_apar_def'>
  <td contextmenu='upd_apar_def_defect_menu_<%= upd_apar_def_counter %>' >
    <%= upd_apar_def.defect %>
    <menu type='context' id='upd_apar_def_defect_menu_<%= upd_apar_def_counter %>'>
      <button>Button 1</button>
      <menuitem label='Command 1' type='command'></menuitem>
      <menu label='nested1'>
	<menuitem label='Command 2'></menuitem>
	<menuitem href='/a/day/at/the/races2'>Grass Hopper2</menuitem>
	<menuitem href='/a/day/at/the/races3'>Grass Hopper3</menuitem>
      </menu>
    </menu>
  </td>
  <td>
    <%= upd_apar_def.apar %>
  </td>
  <td>
    <%= upd_apar_def.ptf %>
  </td>
  <td>
    <%= upd_apar_def.abstract %>
  </td>
  <td>
    <%= upd_apar_def.lpp %>
  </td>
  <td>
    <%= upd_apar_def.vrmf %>
  </td>
  <td>
    <%= upd_apar_def.version %>
  </td>
  <td>
    <%= upd_apar_def.service_pack %>
  </td>
</tr>
