<%# -*- coding: utf-8 -*-
    Copyright 2012 Ease Software, Inc.
    All Rights Reserved
-%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "Welcome to Condor 3" %>
<div class='forms'>
  <%= form_tag swinfo_post_path do %>
    <%= label_tag('item', 'swinfo', :class => 'form-description') %>
    <%= text_field_tag "item" %>
    <%= submit_tag "Submit" %>
  <% end %>
  <%= form_tag which_filesets_post_path do %>
    <%= label_tag('path', 'which filesets', :class => 'form-description') %>
    <%= text_field_tag "path" %>
    <%= submit_tag "Submit" %>
  <% end %>
  <%= form_tag sha1s_post_path do %>
    <%= label_tag('sha1', 'sha1', :class => 'form-description') %>
    <%= text_field_tag "sha1" %>
    <%= submit_tag "Submit" %>
  <% end %>
  <%= form_tag defects_post_path do %>
    <%= label_tag('defect', 'defect', :class => 'form-description') %>
    <%= text_field_tag "defect" %>
    <%= submit_tag "Submit" %>
  <% end %>
</div>
