<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Condor3 <%= @title %></title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= add_paths %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <h2 class='title'>
      <span>
	<%= @title %>
      </span>
    </h2>
    <%= yield %>
    <% if @json_elements %>
      <script type='text/javascript'>
	json_elements = <%= @json_elements.to_json.html_safe %>;
      </script>
    <% end %>
  </body>
</html>
